   <div zf-panel position="left" id="sub-nav" class="fast bounceInOut medium-2 medium-grid-block vertical">
      
 	<div class="grid-content">
		<li class="icon-left vertical menu-bar">
                                     <br> 
                    <h3>NAVIGATION</h3>
                      <br/>
		  <li><a ui-sref="home"> HOME</a></li>
                  <br/>
		  <li><a href="contactus.html"> CONTACT US</a></li>
                  <br/>
		  <li><a href="aboutus.html"> ABOUT US</a></li>
                   <br/>
       		</li>

        	</div>

	<div class="grid-content shrink now-playing">
            <div class="ex">musicguru.com is an easy way to listen and download music. you can find your favorite songs in our multimillion database of quality mp3 links. we provide fast and relevant search. you can also post music in your blog or personal site. hope you enjoy staying here!</div>
            <br><br>
	</div>
</div>   
                

<div class="small-12 medium-8 messages grid-content">

          	<div class="grid-container">
                    <br /><br>
                
               <br /><br />

		<div class=" grid-block small-up-2 medium-up-2 large-up-3">

			<!-- Start Albums -->
	
                   	  <div class="grid-content">
	
                      	    <div class="card">
                                <a href="badlapur.html">
                                    <img src="imagei/badlapur.jpg" alt=" image " title="badlapur" width="300" height="20" >
         
		      <div class="card-divider">
		     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BADLAPUR
		      </div>
                                </a>
      	      <div class="card-section">

		
	      </div>
		    </div>
		  </div>

		
               
                   <div class="grid-content">
	
	    <div class="card">
	 <a href="nh10.html">
	      <img src="imagei/nh10.jpg" alt="image" width="300" height="20">
	
	      <div class="card-divider">
		         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NH10
		      </div>
         </a>
	      <div class="card-section">

		       
	      </div>
		    </div>
		  </div>

	
	  <div class="grid-content">
		
            <div class="card">
		 <a href="leela ek paheli.html">  
              <img src="imagei/lelaa ek paheli.jpeg" alt="image" width="300" height="20">
	
	      <div class="card-divider">
		         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Ek Paheli Leela
		      </div>
                 </a>
	      <div class="card-section">
		 
              
	      </div>
		    </div>
		  </div>


		  <div class="grid-content">
		
                    <div class="card">
	                <a href="roy.html">
	               <img src="imagei/roy.jpg" alt="image" width="300" height="20">
	
	                 <div class="card-divider">
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ROY
		      </div>
                        </a>
	                  <div class="card-section">
	
	      
	      </div>
		    </div>
		  </div>


		  <div class="grid-content">
	
	    <div class="card">
                <a href="heybro.html">
                <img src="imagei/heybro.jpg" alt="image" width="300" height="20" >
		
                  <div class="card-divider">
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HEYBRO
		      </div>
                </a>
	            <div class="card-section">
	
	      
		      </div>
		    </div>
		  </div>


		  <div class="grid-content">

		    <div class="card">
                        <a href="hawaizaada.html">
                     <img src="imagei/hawaizaada.jpg" alt="image" width="300" height="20">

		      <div class="card-divider">
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HAWAIZAADA
		      </div>
                        </a>
	                <div class="card-section">

		
		      </div>
		    </div>
		  </div>
                        

	
	</div>
	</div>
</div>



                     <div zf-panel id="feed" position="right" class="fast bounceInOut medium-2 medium-grid-content">
 
                      <section class="block-list">
	
                       <header>
                              NOW PLAYING
                              </header>
                          <br><br><br>

	  <ul>
	
       <li><a href="songline/01 Ellie Goulding - Love Me Like You Do.mp3"><h6> Ellie Goulding  </h6>Love Me Like You Do</a></li>

	    <li><a href="songline/14 Maroon 5 - Sugar.mp3"><h6>Maroon 5</h6> Sugar </a></li>
	
       <li><a href="songline/03 One Direction - Steal My Girl.mp3"><h6>One Direction </h6> Steal My Girl </a></li>

	    <li><a href="songline/19 Onerepublic - Love Runs Out.mp3"><h6> OneRepublic </h6> Love Runs Out </a></li>

	    <li><a href="songline/23 One Direction - Night Changes.mp3"><h6> One Direction </h6> Night Changes </a></li>

	    <li><a href="songline/25 Sia - Chandelier.mp3"><h6> Sia </h6> Chandelier </a></li>
	 
        <li><a href="songline/34 Maroon 5 - Animals.mp3"><h6> Maroon 5  </h6> Animals </a></li>

	    <li><a href="songline/40 OneRepublic - I Lived.mp3"><h6> OneRepublic </h6> I Lived </a></li>

	    <li><a href="songline/12 Rixton - Wait On Me.mp3"><h6> Rixton  </h6>Wait On Me</a></li>

	    <li><a href="songline/10 Nico & Vinz - Am I Wrong.mp3"><h6> Nico & Vinz  </h6>Am I Wrong</a></li>

	    <li><a href="songline/08 Fuse ODG Feat Sean Paul - Dangerous Love.mp3"><h6>Fuse ODG Feat Sean Paul </h6> Dangerous Love</a></li>

	    <li><a href="songline/13 Coldplay - A Sky Full Of Stars.mp3"><h6> Coldplay  </h6>A Sky Full Of Stars</a></li>

	  </ul>

	</section>

</div>

<!-- End Compose Message -->
